body{
	font-size : 20px;
}
#booking_logo{

}
#booking_logo>img{
	width : 50px;
	height : 50px;
	float : left;
}
.clear{
	clear: both;
}
#booking_wrap{
	width : 700px;
	margin-left : auto;
	margin-right : auto;
	min-height: 600px;
	margin-top: 100px;
}
form>h2{
	text-align: center;
	margin-top :0px !important;
}
#subject{
	margin-left : 180px;
}
dt, dd {
    line-height: 2;
}
.ok{
	margin-top : 12px !important;
}
h2{
	text-align : center !important;	
}
a{
	color : #333 !important;
}
.submit_btn{	
	display: inline-block;
	border-radius: 10px;
	border: none;
	text-align: center;
	width: 150px;
	cursor: pointer;
	height: 40px;
	transition: 0.3s ease;
	background-color: #FF5A5F;
	margin-right : auto;
	margin-left : auto;
	font-size : 17px;
}

.submit_btn:hover {
	transform: translateY(-3px);
}