/* 
************payhistory**************** 
*/
.pay_body{
	margin-right: auto;
    margin-left: auto;
    width: 1000px;
    min-height: 600px;
    margin-top: 100px;
    margin-right : auto;
    margin-left : auto;
}
.pay_body>h1{
	text-align : center;
}
.pay_table{
	border-collapse: collapse;
	margin-top : 20px;
	    margin-right : auto;
    margin-left : auto;
}
.pay_table td{
	border : 1px solid #C1C3D1;
	text-align: center;
}
.pay_table tr{
	height : 35px;
}
.Pay_td.td1{
	width : 100px;
}
.Pay_td.td2{
	width : 300px;
}
.Pay_td.td3{
	width : 200px;
}
.first_tr>td{
	color : white;
}
.main_wrap{
	text-align : center;
}
/* 
*********bookinghistory************ 
*/
.booking_table{
	border-collapse: collapse;
	margin-top : 20px;
	    margin-right : auto;
    margin-left : auto;
}
.booking_table td{
	border : 1px solid #C1C3D1;
	text-align: center;
}
.booking_table tr{
	height : 35px;
}
.Boo_td.td1{
	width : 50px;
}
.Boo_td.td2{
	width : 100px;
}
.Boo_td.td3{
	width : 100px;
}
.Boo_td.td4{
	width : 100px;
}
.Boo_td.td5{
	width : 100px;
}
.Boo_td.td6{
	width : 100px;
}
.Boo_td.td7{
	width : 100px;
}
.Boo_td.td8{
	width : 50px;
}
/* 
**************hostinghistory*************** 
*/
.hosting_table{
	border-collapse: collapse;
	margin-top : 20px;
	margin-right : auto;
    margin-left : auto;
}
.hosting_table td{
	border : 1px solid #C1C3D1;
	text-align: center;
}
.hosting_table tr{
	height : 35px;
}
.Hos_td.td1{
	width : 50px;
}
.Hos_td.td2{
	width : 150px;
}
.Hos_td.td3{
	width : 100px;
}
.Hos_td.td4{
	width : 100px;
}
.Hos_td.td5{
	width : 100px;
}
.Hos_td.td6{
	width : 100px;
}
.Hos_td.td7{
	width : 100px;
}
.Hos_td.td8{
	width : 70px;
}
.Hos_td.td9{
	width : 70px;
}

.history_back{	
	margin-top:30px;
	display: inline-block;
	border-radius: 10px;
	border: none;
	text-align: center;
	width: 100px;
	cursor: pointer;
	height: 40px;
	background-color: #DBDBDB;
	line-height: 40px;
}

.cancel{
    display: inline-block;
    border: none;
    text-align: center;
    width: 38px;
    cursor: pointer;
    height: 20px;
    border-radius: 5px;
    background-color: #FF5A5F;
    color : white;
}
/* 메인으로  */
