/* payhistory */
.pay_body{
	margin-right: auto;
    margin-left: auto;
    width: 600px;
    min-height: 600px;
    margin-top: 100px;
}
.pay_body>h1{
	text-align : center;
}
.pay_table{
	border-collapse: collapse;
	margin-top : 20px;
}
.pay_table td{
	border : 1px solid #333;
	text-align: center;
}
.pay_table tr{
	height : 30px;
}
.tableTD.td1{
	width : 100px;
}
.tableTD.td2{
	width : 300px
}
.tableTD.td3{
	width : 200px
}
/* bookinghistory */
.booking_table{
	border-collapse: collapse;
	margin-top : 20px;
}
.booking_table td{
	border : 1px solid #333;
	text-align: center;
}
.booking_table tr{
	height : 30px;
}