@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: 'Nanum Gothic';
}
/* 전체영역 */
.body{
	margin: 120px auto;
	width: 1300px;
}
/* 전체 */
.body h1{
	text-align: center;
	font-size: 27px;
	margin-bottom: 20px;
}
/* 회원조회 */
.body table{
	margin-top:20px;
	text-align: center;
	border-collapse:collapse;
	font-size: 13px;
}
/* 테이블 */
.body table td,th{
    border: 1px solid #333;
    height: 55px;
}
/*  */
#pro{
	width: 50px;
}
#id{
	width: 100px;
}
#pass{
	width: 100px;
}
#name{
	width: 70px;
}
#reg_date{
	width: 110px;
}
#age{
	width: 60px;
}
#gender{
	width: 60px;
}
#email{
	width: 100px;
}
#zip{
	width: 100px;
}
#add{
	width: 300px;
}
#add2{
	width: 300px;
}
#phone{
	width: 100px;
}
#mobile{
	width: 100px;
}
#info{
	width: 100px;
}

#delete{
	width: 50px;
}
/* 각각 width */

.MemberList_count{
	margin: 20px auto; 
	width: 200px;
	}
.MemberList_back{	
	display: inline-block;
	border-radius: 10px;
	border: none;
	text-align: center;
	width: 100px;
	cursor: pointer;
	margin: 5px 5px 5px 20px;
	height: 40px;
	background-color: #DBDBDB;
	line-height: 40px;
}

