<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FunWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
    <servlet-name>CommentFrontController</servlet-name>
    <servlet-class>net.comment.action.CommentFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentFrontController</servlet-name>
    <url-pattern>*.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlramFrontController</servlet-name>
    <servlet-class>net.alram.action.AlramFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlramFrontController</servlet-name>
    <url-pattern>*.ar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailFrontController</servlet-name>
    <servlet-class>net.email.action.EmailFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailFrontController</servlet-name>
    <url-pattern>*.em</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageFrontController</servlet-name>
    <servlet-class>net.message.action.MessageFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageFrontController</servlet-name>
    <url-pattern>*.ms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MileFrontController</servlet-name>
    <servlet-class>net.mileage.action.MileFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MileFrontController</servlet-name>
    <url-pattern>*.mi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberFrontController</servlet-name>
    <servlet-class>net.member.action.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFrontController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookingFrontController</servlet-name>
    <servlet-class>net.booking.action.BookingFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingFrontController</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HostingFrontController</servlet-name>
    <servlet-class>net.Host.action.HostingFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostingFrontController</servlet-name>
    <url-pattern>*.ho</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ChatFrontController</servlet-name>
    <servlet-class>net.chat.action.ChatFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatFrontController</servlet-name>
    <url-pattern>*.ch</url-pattern>
  </servlet-mapping>

     <servlet>
    <servlet-name>HistoryFrontController</servlet-name>
    <servlet-class>net.history.action.HistoryFrontController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HistoryFrontController</servlet-name>
    <url-pattern>*.hi</url-pattern>
  </servlet-mapping>

  <resource-ref>
    <description>db</description>
    <res-ref-name>jdbc/MysqlDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>